[run]
branch = True
data_file = coverage.db
include =
    src/*
omit =
    *__init__.py
    tests/*

[paths]
source =
    */src/*

[report]
sort = Cover
exclude_also =
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class\s\w+\((typing\.)?Protocol(\[.*\])?\):
    @(abc\.)?abstractmethod
    @(typing\.)?overload

skip_empty = True
